/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */
/*body { background: #2B60DE; }*/
/* { background: #4571DA; }*/
.container {
  padding-top: 60px;
}
nav {
  position: fixed;
}

h1#logo {
  font-size: 28px;
  line-height: 34px;
}

#contact {
  margin-top: 60px;
}
h2#contact {
  font-size: 28px;
  line-height: 34px;
  margin-bottom: 10px;
}

#contact li {
    margin-bottom: 10px;
}

h2 { 
    margin-bottom: 30px; 
    font-size: 52px;
    line-height:60px;
}
h3 {
  clear:both;
  font-size:28px;
}


.horizontal_list li {
  float: left; 
  width: 60px;
  margin-bottom: 30px;
}

hr.large {
    height: 8px;
    background: #EBEBEB;
}

/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {
        body { background: blue; }
    }

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
        body { background: red; }
        h1#logo { font-size: 24px; }
    }

    /* All Mobile Sizes (devices and browser) */
    @media only screen and (max-width: 767px) {
        nav { position: relative; }
        nav ul { display: none; }
        h1#logo {
            font-size: 21px;
            font-weight: bold;
            line-height: 34px;
        }
        h2 { 
            font-size: 34px; 
            line-height: 37px;
        }
    }

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
        body { background: orange; }
    }

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
    body { background: green };
  }


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/
